[Unit]
Description=OpenSeaMap Overpass
After=docker.service
Requires=docker.service
Wants=reverse-proxy.service

[Service]
Restart=always
KillMode=control-group
ExecStartPre=-/usr/bin/docker rm overpass-api
ExecStart=/usr/bin/docker run --name=overpass-api --detach=false --cpu-shares=512 \
    --memory=128M --publish=127.0.0.1::80 --rm=true \
    --env=VIRTUAL_HOST=overpass.*,overpass.195.37.132.70.xip.io \
    --env=LETSENCRYPT_HOST=overpass.195.37.132.70.xip.io --env=LETSENCRYPT_EMAIL=project@openseamap.org \
    --hostname=overpass-api \
    --cap-drop=NET_RAW  -v /var/data/overpass:/overpass_DB \
    overpass_api

[Install]
WantedBy=multi-user.target
